@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";


@theme{
  --font-logo: "Bricolage Grotesque", sans-serif;
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-primary: #EF8AF9;
  --color-secondary: #5D2DE6;
  --shadow-glow-primary: 0 0 80px rgba(239, 138, 249, 0.7);
  --inset-shadow-glow-primary: inset 0 0 80px 100px rgba(239, 138, 249, 0.5);
  --shadow-glow-secondary: 0 0 80px rgba(93, 45, 230, 0.7);
  --inset-shadow-glow-secondary: inset 0 0 100px 150px rgba(93, 45, 230, 0.5);
}
